@media(max-width:991px) {
    html {
        font-size: 55%;
    }
}

/* -------------------------------------- */

@media(max-width:800px) {
    html {
        font-size: 50%;
    }

    header .navbar .navmenu li {
        display: none;
    }

    .bottom-navbar {
        display: block;
    }

    header .navbar .logo img {
        margin-left: 60px;
    }

    .categories{
        padding: 3rem 2rem;
    }


    .main-home .home-text {
        width: 50%;
        height: 80vh;
        display: flex;
        align-items: start;
        justify-content: center;
        flex-direction: column;
    }

    .main-home .home-text h3 {
        font-size: 20px;
        font-weight: 150;
    }

    .main-home .home-text h2 {
        font-size: 25px;
        width: 140px;
        margin-top: 7px;
        margin-bottom: 14px;
    }

    .main-home .home-text p {

        font-size: 12px;
    }


    .about .about-text h2 {
        font-size: 16px;
    }

    .about .about-text p {
        font-size: 14px;
    }

    .about-icons .icons{
        gap: 1.5rem;
        padding: 2rem 0;
    }
    
    .about-icons .icons i{
        font-size: 3rem;
        color: green;
    }
    
    .about-icons .icons h3{
        font-size: 2rem;
        padding-bottom:.5rem;
    }
    .about-icons .icons p{
        font-size: 1.2rem;
    }

    .contact{
        margin-bottom: 6rem;
    
    }
    
}


@media(max-width:650px){
    .about-icons .icons{
        gap: 1.3rem;
        padding: 2rem 0;   
    }
    
    .about-icons .icons i{
        font-size: 2.5rem;    
    }
    
    .about-icons .icons h3{
        font-size: 2rem;
        padding-bottom:.3rem;
    }
    .about-icons .icons p{
        font-size: 1rem;    
    }
    .about-icons .icons p a{
        font-size: 1rem;    
    }

    .contact .logo{
        width: 30%;
    }
    .contact .text{
        width: 70%;
        height: 140px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
    
     }
     .contact .text .phone{
        width: 20%;
        height: 140px;
        display: flex;
        justify-content: start;
        align-items: center;
     }
    
     .contact .text i{
        font-size: 2rem;
     }
    
     .contact .text .phone p{
        font-size: 1.5rem;
     }
    

}



/* --------------------------------------------- */


@media(max-width:570px) {

    .about .about-img {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .about .about-text h2 {
        font-size: 14px;
    }

    .about .about-text p {
        font-size: 12px;
    }

    .about .about-text p a {
        font-size: 12px;
    }


}




/* --------------------------------------------- */

@media(max-width:450px) {
    html {
        font-size: 55%;
    }

    header .navbar .logo img {
        margin-left: 60px;
    }

    .main-home{
    width: 100%;
    height: 60vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color:#e4e4e4;
    border-bottom:0.1rem solid white ;
    }

  


    .main-home .home-text {
        width: 50%;
        height: 80vh;
        display: flex;
        align-items: start;
        justify-content: center;
        flex-direction: column;
    }



    .main-home .home-text h3 {
        font-size: 15px;
        font-weight: 180;
        margin-bottom: 10px;
        
    }

    .main-home .home-text h2 {
        font-size: 20px;
        width: 140px;
        margin-top: 5px;
        margin-bottom: 12px;
    }

    .main-home .home-text p {
        font-size: 10px;
        margin-bottom: 10px;
        font-family: serif;    
    }
    .main-home .home-img img{
        margin-top: 6rem;
    }

    .about{
        width: 100%;
        height: 60vh;
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color:#b7f1f5;
        
    }

    .about .about-text {
        width: 40%;
        height: 10vh;
        display: flex;
        align-items: start;
        justify-content: space-around;
        flex-direction: column;
    }


    .about .about-text h2 {
        font-size: 10px;
        font-family: serif;
    }

    .about .about-text p {
        font-size: 9px;
        font-family: serif;
    }

    .about .about-text p a{
        font-size: 9px;
    }

    .about-icons{
        display: flex;
        justify-content: space-around;
        align-items: start;
        flex-direction: column;
        width: 100%;
        height: auto;
        
    }
    .about-icons .icons{
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        border-bottom: 0.1rem solid white ;
        
    }
 
    .about-icons .icons i{
        font-size: 3.5rem;
        color: green;
        margin-left: 10px;
        width: 10%;  
    }
    
    .about-icons .icons h3{
        font-size: 2.2rem;
        padding-bottom:.5rem;
        margin-left: 7px;
    }
    .about-icons .icons p{
        font-size: 1.4rem;
        margin-left: 7px;   
    }

    .categories .row .categories-text{
        margin-bottom: 2rem;
        margin-top: 1rem;
    }

    .coverless-works .featured-sliders .box{
        margin-left: -0.14rem;
    }


    .categories .row .categories-text h3 {
        font-size: 15px;        
    }
    
    .categories .row .categories-text p {
        margin-top: 1rem;
        font-size: 11px;   
    }

    .blog .text p{
        font-size: 1.3rem;
        color:#444;
    }
    .blog .blogs-slider .box{
        margin-left: -0.14rem;
    }
     

    .contact{
        margin-bottom: 6.5rem;
    }

    .swiper-button-next{
        margin-right: -1rem;
    }
    .swiper-button-prev{
        margin-left: -1rem;
    }
}



/* ---------------------------------------------------- */

@media(max-width:375px) {

    .main-home .home-text {
        width: 50%;
        height: 80vh;
        display: flex;
        align-items: start;
        justify-content: center;
        flex-direction: column;
    }



    .main-home .home-text h3 {
        font-size: 14px;
        font-weight: 100;
        margin-bottom: 10px;
    }

    .main-home .home-text h2 {
        font-size: 18px;
        width: 100px;
        margin-top: 7px;
        margin-bottom: 14px;
    }

    .main-home .home-text p {
        font-size: 8px;
        margin-bottom: 10px;
    }


}